@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="d-flex justify-content-between">
    <h2 class="text-success">
        Your Order has been cancelled!
    </h2>

    <a asp-controller="FoodSite" asp-action="OrderStatus" class="btn btn-primary" style="font-size:20px">Order Status</a>
</div> 
