@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="d-flex justify-content-between">
    <h3 class="text-success">
        Your Order will be delivered soon! 

    </h3>

    
    <table>
        
        <tr><td><a asp-controller="FoodSite" asp-action="OrderStatus"  style="font-size:20px">Orders</a></td></tr>
        @*<tr> <td><a asp-controller="FoodSite" asp-action="CancelOrder" style="font-size:20px">Cancel Order</a></td></tr>*@
        
        
    </table>
</div> 
